@import "../../node_modules/gutengood-js/build/gutengood.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.editor-styles-wrapper {
  .wp-block-post-title {
    @apply text-2xl font-medium px-4 mb-10;
  }

  .block-editor-block-list__layout {
    @apply px-4;
  }

  div {
    @apply antialiased text-base text-stone-900 font-normal leading-snug;
  }
}

/** Default margins from block options */
.gutengood-block {
  @apply pointer-events-none;

  margin-top: var(--block-margin-top-mobile);
  margin-bottom: var(--block-margin-bottom-mobile);

  @media screen(lg) {
    margin-top: var(--block-margin-top-desktop);
    margin-bottom: var(--block-margin-bottom-desktop);
  }
}
